{% extends 'maintemplate.html' %}

{% block login %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 block">
        <h3></h3>
    </div>
    <div class="col-md-4 block" align="center">
        <p><img src="/static/filin1.jpg" width="300" height="200"></p>
    </div>
    <div class="col-md-4 block">
        <h3></h3>
    </div>

    <div class="container-fluid">
        <div class="row">
                <div class="col-md-12 block" align="center">
        <form action="/log/login/" method="post" align="center">
            {% csrf_token %}
            <label for="username">Имя пользователя: </label>
            <input type="text" name="username" id="username" placeholder="Обязательное поле">
            <label for="password">Пароль: </label>
            <input type="password" name="password" id="password" placeholder="Обязательное поле">
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input class="button" type="submit" value="Войти">
        </form>
              </div>
        </div>
    </div>

{% endblock %}