{% extends 'maintemplate.html' %}
{% load staticfiles %}
{% block AllVideo %}
<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 block">
                <h3></h3>
            </div>
            <div class="col-md-6 block">
                <h5 align="center">Alexander Mateyuk</h5>
                <br>

                    <p>
                    <div class="row">
                        <div class="col-md-3 block">
                            <h6>Contacts</h6>
                        </div>
                        <div class="col-md-9 block">
                            <h6>Belarus, Minsk</h6>
						    <h6>Mobile: 8 044 599 17 31</h6>
                            <h6><a href="mailto:a.mateyuk89@mail.ru" itemprop="email" >a.mateyuk89@mail.ru</a></h6>
	                    </div>
                    </div>
                    </p>

                    <p>
                    <div class="row">
                        <div class="col-md-3 block">
                            <h6>Objective</h6>
                        </div>
                        <div class="col-md-9 block">
                            <h6>Junior python developer position.</h6>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col-md-3 block">
                            <h6>Summary</h6>
                        </div>
                        <div class="col-md-9 block">
                            <h6 align="justify">Excellent communication skills and ability to work alongside team and the python сommunity to define and refine new functionality. Looking for a junior developer position with a ambitious and exciting company which will challenge my developer skills and allows me to continue improving my knowledge and developer potential.</h6>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col-md-3 block">
                            <h6>Skills</h6>
                        </div>
                        <div class="col-md-9 block">
                            <h6>Python, Django, SQL</h6>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col-md-3 block">
                            <h6>Experience</h6>
                        </div>
                        <div class="col-md-9 block">
                            <h6 align="center">Process engineer</h6>
                            <h6>Minsk Electrotechnical Plant named after V. I.  Kozlov</h6>
                            <h6>July 2015 - July 2018</h6>
                            <h6 align="justify">Worked with technical departments to ensure timely and quality manufacturing of power transformers components. Worked with other engineers to improve product performance in accordance with customer requirements. Performed of tasks set by management.</h6>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col-md-3 block">
                        </div>
                        <div class="col-md-9 block">
                            <h6 align="center">Process engineer</h6>
                            <h6>Minsk Tractor Works</h6>
                            <h6>August 2012 - August 2014</h6>
                            <h6 align="justify">Worked with other engineers to build technical solutions in metallurgical production and material processing. Developed technology for manufacturing parts, developed instructions for workers and masters of supervised workshops.</h6>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col-md-3 block">
                            <h6>Education</h6>
                        </div>
                        <div class="col-md-9 block">
                            <h6>Belarusian National Technical University</h6>
                            <h6>2007 - 2012</h6>
                            <h6>Engineer of materials science in mechanical engineering</h6>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col-md-3 block">
                            <h6>Additional education</h6>
                        </div>
                        <div class="col-md-9 block">
                            <h6>Course "Basics of python programming"</h6>
                            <h6>November 2018 - January 2019</h6>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col-md-3 block">
                            <h6>Additional information</h6>
                        </div>
                        <div class="col-md-9 block">
                            <h6>My project link: <a href="https://mateyuk89.pythonanywhere.com" title="Перейти к нашему королю!">mateyuk89.pythonanywhere.com</a></h6>
                        </p>
                        </div>
                    </div>
            </div>
            <div class="col-md-3 block">
                <h3></h3>
            </div>
        </div>
    </div>
{% endblock %}